<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div ng-app="better-thoughts" ng-strict-di="">
    <nav class="navbar navbar-detailf navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Better Thoughts</a>
        </div>
        <div class="navbar-right-container">
          <login-buttons></login-buttons>
        </div>
      </div>
    </nav>

    <div class="h100">
      <div ui-view="" class="ma-main-container container-fluid h100"></div>
  </div>
</body>

