<div class="row h100">
  <div ng-hide="negsList.isLoggedIn" class="col-sm-6 col-sm-offset-3  bt-negs-col">
    <p>Welcome to Better Thoughts!</p>
    <p> This app lets you write down the negative thoughts that come into your mind from time to time, and then add some constructive and comforting better thoughts.</p>
    <p>Feel better and get inspired, right when you need it the most.</p>
    <p>Log in or sign up to view and edit your thoughts.</p>
  </div>
  <div class="col-md-6 bt-negs-col">
    <div class="row">
      <div ng-show="negsList.isLoggedIn" class="col-xs-8">
        <form class="form-inline search-form">
          <div class="form-group">
            <label class="sr-only" for="search">Search</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
              <input type="text" ng-model="negsList.searchText" placeholder="Search" id="search" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="sort-order">Sort Order</label>
            <select ng-model="negsList.orderProperty" ng-change="negsList.updateSort()" class="form-control">
              <option value="1">Ascending</option>
              <option value="-1">Descending</option>
            </select>
          </div>
        </form>
      </div>
      <div class="col-xs-4 bt-add-button-container">
        <button ng-show="negsList.isLoggedIn" class="btn" ng-click="negsList.openAddNewNegModal()"><i
                class="fa fa-plus"></i></button>
      </div>
    </div>
    <ul class="list-group">
      <li ui-sref="betterThoughts({ negId: neg._id })" dir-paginate="neg in negsList.negs | itemsPerPage: negsList.perPage"
          total-items="negsList.negsCount" class="list-group-item bt-neg-item">
        <i class="bt-remove fa fa-times" ng-click="negsList.removeNeg(neg)"
           ng-show="negsList.isLoggedIn && neg.owner == negsList.currentUserId"></i>

        <div class="row">
          <div class="col-sm-8">
            <h2 class="bt-neg-name"><a href="/negs/{{neg._id}}">{{neg.name}}</a></h2>
          </div>
        </div>
      </li>
    </ul>
    <dir-pagination-controls on-page-change="negsList.pageChanged(newPageNumber)"></dir-pagination-controls>
  </div>
</div>