.bt-add-button-container {
  button.btn {
    background: @color3;
    float: right;
    margin-right: 5px;
    outline: none;
    i {
      color: @color5;
    }
  }
}

.bt-negs-col {
  padding-top: 20px;
}

.bt-neg-item, .bt-neg-details-container {
  .bt-neg-name {
    margin-bottom: 20px;
    a {
      color: @color6;
      text-decoration: none !important;
      font-weight: 400;
    }
  .fa {
    font-size: 1.2em;
  }

  }

  .bt-remove {
    color: lighten(@color1, 20%);
    position: absolute;
    right: 20px;
    top: 20px;
    &:hover {
      color: @color7;
    }
  }
}

.search-form {
  margin-bottom: 1em;
}