<form>
  <label>Negative Thought: </label>
  <input type="text" ng-model="negsList.newNeg.name" />
  <button ng-click="negsList.addNeg()">Add Thought</button>
</form>
<ul>
  <li ui-sref="betterThoughts({ negId: neg._id })" ng-repeat="neg in negsList.negs">
    {{neg.name}}
    <button ng-click="negsList.removeNeg(neg)">X</button>
  </li>
</ul>