@color1 : #2F2933;
@color2 : #01A2A6;
@color3 : #4aaaa5;
@color4 : #BDF271;
@color5 : #DCFBD8;
@color6 : #2F2933;
@color7 : #FF6F69;

// @color1 : #2F2933;
// @color2 : #01A2A6;
// @color3 : #29D9C2;
// @color4 : #BDF271;
// @color5 : #FFFFA6;
// @color6 : #2F2933;
// @color7 : #FF6F69;

html,body{
  height:100%;
}

body {
  background-color: #f9f9f9;
  padding-top: 50px;
  font-family: 'Muli', sans-serif;
}

.h100{
  height : 100%;
}

.w100{
  width:100%;
}


//.ma-main-container{
//  @media (min-width: 400px) {
//    padding-right : 0;
//  }
//}

@import "navbar.import.less";
@import "../negs/add-new-neg-modal/add-new-neg-modal.import.less";
@import "../negs/negs-list/negs-list.import.less";
@import "../negs/better-thoughts/better-thoughts.import.less";

