<div class="container-fluid bt-add-new-neg-container">
  <div class="alert alert-info" ng-hide="addNewNegModal.isLoggedIn">
    Please log in to add thoughts!
  </div>

  <form ng-show="addNewNegModal.isLoggedIn">
    <h2>Add a new negative thought</h2>

    <div class="form-group">
      <label for="nameInput">Thought</label>
      <input ng-model="addNewNegModal.newNeg.name" id="nameInput" type="text" class="form-control">
    </div>
    <button ng-click="addNewNegModal.addNewNeg()" class="btn">Add</button>
  </form>
</div>