<div class="row bt-neg-details-container">
  <div class="col-md-6">
    <form class="form-horizontal">
      <div class="form-group">
        <label>Negative Thought</label>
        <input ng-model="betterThoughts.neg.name" ng-disabled="betterThoughts.neg.owner != betterThoughts.currentUserId" type="text"
               class="form-control">
      </div>
      <div class="form-group" ng-show="betterThoughts.neg.owner == betterThoughts.currentUserId">
        <button ng-click="betterThoughts.save()" class="btn">Save</button>
      </div>
    </form>
    <legend>
      Your Better Thoughts:
    </legend>
    <div class="row">
      <div class="col-xs-8"></div>
      <div class="col-xs 4">
          <div class="col-xs-4 bt-add-button-container">
          <button ng-show="betterThoughts.isLoggedIn" class="btn" ng-click="betterThoughts.openAddNewBtModal()"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item bt-party-item" ng-repeat="betterThought in betterThoughts.neg.betterThoughts">
        <i class="bt-remove fa fa-times" ng-click="betterThoughts.removeBetterThought(betterThought)"></i>
        <div class="row">
          <div class="col-sm-8">
            <h2 class="bt-neg-name">{{betterThought.name}}</h2>
          </div>
        </div>
      </li>
    </ul>
    <button ui-sref="thoughts" class="btn">Back</button>
  </div>
</div>