<div class="container-fluid bt-add-new-neg-container">
  <div class="alert alert-info" ng-hide="addNewBtModal.isLoggedIn">
    Please log in to add thoughts!
  </div>

  <form ng-show="addNewBtModal.isLoggedIn">
    <h2>Add a new negative thought</h2>

    <div class="form-group">
      <label for="nameInput">New Better Thought: </label>
      <input ng-model="addNewBtModal.newBetterThought.name" id="nameInput" type="text" class="form-control">
    </div>
    <button ng-click="addNewBtModal.addBetterThought()" class="btn">Add Better Thought</button>
  </form>
</div>